<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Transaction</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="trans__container">
    <div class="transactions__headline">
       <a href="/balance/"><img src="/icons/Vector.svg" alt=""></a>
       <h1>Add  Transaction</h1>
    </div>
   
    <form class="details" action="/balance/add" method="post">
      <div class="details__headline">
        <h4>Transaction Details</h4>
      </div>
      <div class="title">
        <h5>title</h5>
        <textarea name="title" id="" required placeholder="Enter Transaction title"></textarea>
      </div>
      <div class="amount">
        <h5>Amount</h5>
        <textarea name="amount" id="" required placeholder="0.00"></textarea>
      </div>
      <div class="type">
        <h5>Transaction Type</h5>
       <div class="toggle-container">
        <span id="label-expense" class="label active">Expense</span>  
        <label class="switch">
          <input type="checkbox" id="transactionType">
          <span class="slider round"></span>
        </label>
        <span id="label-income" class="label">Income</span>
      </div>
      <input type="hidden" name="type" id="transactionType" value="expense" />
     <div class="buttons">
      <button type="submit" class="submit__btn ">Add Transaction</button>
      <button type="reset" class="cancel__btn">Cancel</button>
     </div>
    </form>
  </div>
  <script src="../js/button.js"></script>

</body>
</html>
