<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Transaction</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1>Add New Transaction</h1>
    <form action="/submit-transaction" method="post">
    </form>
  </div>
</body>
</html>
