<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Edit Transaction</h1>

  <form action="/edit/<%= transaction.id %>" method="post">
    <label>Title:</label>
    <input type="text" name="title" value="<%= transaction.title %>" required /><br />

    <label>Amount:</label>
    <input type="number" step="0.01" name="amount" value="<%= transaction.amount %>" required /><br />

      <div class="toggle-container">
        <span id="label-expense" class="label active">Expense</span>  
        <label class="switch">
          <input type="checkbox" name="isChecked" id="transactionType">
          <span class="slider round"></span>
        </label>
        <span id="label-income" class="label">Income</span>
      </div>
    <button type="submit">Save</button>
  </form>
</body>
</html>