<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
       <form class="headline" action="/add" method="get">
            <h1>My Account</h1>
            <button type="submit">Add Transaction</button>
       </form>
 
        <div class="balance">
            <h4>Current Balance</h4>
            <textarea name="" id="" placeholder="your balance"></textarea>
        </div>
       <%- include('./components/users', { transactions: transactions }); -%>
    </div> 
     <hr />
  <% if (transactions.length > 0) { %>
    <ul>
      <% transactions.forEach(tx => { %>
        <li>
          <strong><%= tx.title %></strong> — <%= tx.amount %> (<%= tx.type %>)
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No transactions found.</p>
  <% } %>
</body>
</html>