<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form class="container" action="/form" method="post">
         <div class="btn">
        <button type="button" onclick=OnTap()>Add</button>
    </div>
    <div id="response__container">
         <div class="response" id="response">
        <div class="response__amount">
            <textarea name="amount" id="" required placeholder="leave price"></textarea>
        </div>
        <div class="response__desc">
            <textarea name="description" id="" required placeholder="describe"></textarea>
        </div>
        <div class="response__profit">
            <input type="checkbox" name="isProfit" id="check" >
            <p>Is it profit?</p>
        </div>
        <div class="response__btn">
            <span><button type="submit">Save</button></span>
            <button type="reset">Reset</button>
        </div>
    </div>
</form>
   
    <script src="/js/button.js"></script>
</body>
</html>