<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
</head>
<body>
  <h1>Welcome!</h1>

  <a href="/register">
    <button type="button">Get Started</button>
  </a>
  <a href="/login">
    <button type="button">Login</button>
  </a>
  <a href="/register">
    <button type="submit">Register</button>
  </a>
<a href="/logout">
  <button>Logout</button>
</a>

</body>
</html>
