<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="trans__container">
        <div class="transactions__headline">
            <a href="/"><img src="/icons/Vector.svg" alt="Back"></a>
            <h1 class="tr">login_page</h1>
        </div>
       
        <form class="details" action="/<%= lang %>/login" method="POST">
            <div class="amount">
                <h4 class="tr">user_name</h4>
                <input type="text" name="username" placeholder="Your Username" required />
            </div>

            <div class="title">
                <h4 class="tr">password</h4>
                <input type="password" name="password" placeholder="Enter your password" required />
            </div>

            <div class="submit">
                <div class="login">
                    <button type="submit" class="tr">login_page</button>
                </div>
                
                <a   class="tr" href="/">cancel</a>
            </div>
            <a href="/ru/login">Русский</a>
            <a href="/en/login">English</a>
        </form>
    </div>
     <script>
        fetch(`/languages/<%=lang%>.json`)
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                translate(data)
            })
            .catch(function (err) {
                console.log('error: ' + err);
            });

        function translate(data) {
            let elements = document.querySelectorAll(".tr")

            for (const element of elements) {
                if (data[element.innerText]) {
                    element.innerText = data[element.innerText];
                }
            }
        }
    </script>
</body>
</html>
