*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
       background-color: rgb(0, 255, 255);
}
.container{
   display: flex;
   align-items: center;
   width: 100%;
   flex-direction: column;
   padding-top: 10px;
   gap: 30px;
}
.headline{
   display: flex;
   justify-content: space-between;
   width: 70%;

}
.headline h1{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.headline button{
    border: none;
    background-color: rgb(34, 0, 255);
    border-radius: 30px;
    width: 150px;
    height: 50px;
    color: white;
}
.balance{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
}
.balance h4{
    font-size: 16px;
    color:#666666
}
.balance textarea{
    all: unset;
    font-size: 30px;
    color: green;
}
.transactions{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
    border-radius: 25px;
    gap: 20px;
}
.transactions h1{
    color: #666666;
    padding: 12px;
}
table{
    border: none;
    width: 100%;
    padding: 12px;
}
th{
    text-align: start;
    border: none;   
}
tr{
    border: none;
    border-bottom: 1px solid black;
}
td{
    border: none;
    border-bottom: 1px solid black;
}
.toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: sans-serif;
  border-radius: 20px;
  padding: 15px;
  background-color: rgb(0, 255, 255);
}
.trans__container{
    display: flex;
   align-items: center;
   width: 100%;
   flex-direction: column;
   padding-top: 10px;
   gap: 30px;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 15px;
    width: 70%;
    border-radius: 20px;
}
.transactions__headline{
    width: 70%;
    display: flex;
    gap: 30px;
    align-items: center;
}
.transactions__headline h1{
    font-size: 28px;
    font-weight: 400;
    color: #666666;
    text-align: start;
}
.transactions__headline img{
    width: 16px;
    height: 16px;
}
.details h4{
    font-size: 20px;
    color: #666666;
    font-weight: 400;
} 
.title{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title h5{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}
.title textarea{
    all: unset;
    font-size: 20px;
    color: #666666;
    background-color:  rgb(0, 255, 255);
    border-radius: 20px;
    padding: 15px;
    padding-bottom: 0;
}
.amount{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.amount h5{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}
.amount textarea{
    all: unset;
    font-size: 20px;
    color: #666666;
    background-color:  rgb(0, 255, 255);
    border-radius: 20px;
    padding: 15px;
    padding-bottom: 0;
}
.type{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.type h5{
     text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}
.label {
  font-size: 16px;
  opacity: 0.5;
  transition: 0.3s;
}

.label.active {
  font-weight: bold;
  color: red;
  opacity: 1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(18px);
}
.date{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.date h5{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}
.date textarea{
    all: unset;
    font-size: 20px;
    color: #666666;
    background-color:  rgb(0, 255, 255);
    border-radius: 20px;
    padding: 15px;
    padding-bottom: 0;
}
.buttons{
    display: flex;
    gap: 10px;
}
.submit__btn{
    width: 80%;
    background-color: blue;
    border: none;
    border-radius: 30px;
    color: white;
    height: 30px;
}
.cancel__btn{
    width: 19%;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 30px;
    height: 30px;
}